#header_register {
  padding-bottom: 10px;
}

#product {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.buy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
  gap: 10px;
}
.buy button {
  border-color: red;
  overflow: hidden;
  outline: none;
}
