#header_register {
  padding-bottom: 10px;
}

#product {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.buy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
  gap: 10px;
}
.buy button {
  border-color: red;
  overflow: hidden;
  outline: none;
}

#notregister {
  right: 115px;
}
.err_user {
  color: red !important;
}
#search {
  position: relative;
}
#search input {
  margin-top: 6px;
  background-color: none !important;
  border: 1px solid white;
  outline-style: none;
  width: 180px;
  height: 23px;
}

#search button {
  position: absolute;
  top: 6px;
  right: 0;
  border: 1px solid white;
  background-color: white !important;
  height: 23px;
}

#paging {
  display: flex;
  text-align: center;
}
#paging li {
  list-style-type: none;
}

#categories {
  padding-top: 30px;

  gap: 30px;
}
#categories li {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;

  list-style-type: none;
}
#categories li a {
  text-decoration: none;
  color: red;
}
.login {
  color: red;
}
