#add_category {
  margin-bottom: 30px;
}
#big_cat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.cat_child {
  margin: 10px;
}
.cat_child_2 {
  margin-top: 35px;
  margin-right: 150px;
}
#errCat {
  padding-top: 10px;
  color: red !important;
}
.cat_child_update {
  position: absolute;
  top: 300px;
  width: 620px;
  margin-left: 10px;
}
#select {
  border: gray 1px solid;
  border-radius: 3px;
  padding: 5px 0px;
}
#selectStatus {
  border-radius: 3px;
  padding: 2px 0px;
}
#percent {
  position: relative;

  top: -31px;
  left: 43px;
}
#err_prod {
  color: red !important;
}
.content {
  width: 250px;
}
.action_prod {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
#apply_prod {
  margin-left: 20px;
  height: 38px;
  padding: 0 15px;
}
.headTable th {
  font-size: 15px;
}
